html, body {
    margin: 0;
    padding: 0;
    background-color:#faead6;
    font-family: 'Rubik', sans-serif;
    color: #432000;
}

.container { background-color:#faead6;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}
h1{
    color: bla;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin: 15px;
}

input {
    background-color: palevioletred;
    padding: 15px;
    border: 0;
    border-radius: 15px;
    font-size: 20px;
    color: yellow;
    text-align: center;
    margin: 10px 0;
    font-family: 'Rubik', sans-serif;
}

button {
    background-color: #AC485A;
    font-family:'Josifin sans',sans-serif;
    padding: 20px;
    border: 0;
    border-radius: 15px;
    font-size: 20px;
    color: #FDFDFD;
    font-family: 'Rubik', sans-serif;
}

button:hover {
    background-color: maroon;
    cursor: pointer;
    color:aqua
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    background-color: wheat;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    font-size: 20px;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

ul li:hover {
    background-color: #FFECC7;
    cursor: pointer;
}
